view,
navigator,
image {
	box-sizing: border-box;
}

.pl5 {
	padding-left: 5px;
}

input {
	text-indent: 0px !important;
	padding: 0px !important;
}

.st {
	font-family: "SimSun";
}

.dsf_dsdfg {
	width: 13px;
	height: 21px;
	background-position: -22px -305px;
}

p {
	margin: 0;
}

.ye {
	color: #70c434 !important
}

.fz12 {
	font-size: 12upx;
}

.fz14 {
	font-size: 14upx;
}

.fz16 {
	font-size: 16upx;
}

.fz18 {
	font-size: 18upx;
}

.fz20 {
	font-size: 20upx;
}

.fz22 {
	font-size: 22upx;
}

.fz24 {
	font-size: 24upx;
}

.fz26 {
	font-size: 26upx;
}

.fz28 {
	font-size: 28upx;
}

.fz30 {
	font-size: 30upx;
}

.fz19 {
	font-size: 24upx;
}

.fz21 {
	font-size: 24upx;
}

.fz23 {
	font-size: 24upx;
}

.fz25 {
	font-size: 24upx;
}

.fz27 {
	font-size: 24upx;
}

.fz29 {
	font-size: 29upx;
}

.fz31 {
	font-size: 31upx;
}

.fz32 {
	font-size: 32upx;
}

.fz33 {
	font-size: 33upx;
}

.fz34 {
	font-size: 34upx;
}

.fz35 {
	font-size: 35upx;
}

.fz36 {
	font-size: 36upx;
}

.fz37 {
	font-size: 37upx;
}

.fz38 {
	font-size: 38upx;
}

.fz39 {
	font-size: 39upx;
}

.fz40 {
	font-size: 40upx !important;
}

.fz48 {
	font-size: 48upx !important;
}

body,
html {
	font-family: 'Microsoft Yahei';
}

.f_i {
	display: inline-block;
	background: url("");
	background-size: 360px;
}

.f_b {
	display: inline-block;
}

.bghs {
	background: #f8f6f7 !important;
	border: 1px solid #f8f6f7 !important;
}

.bgbs {
	background: #fff;
}

.bge3 {
	background: #e3f3fb;
}

.au {
	margin-left: auto;
	margin-right: auto;
}

.mr5 {
	margin-right: 5px;
}

.mr10 {
	margin-right: 10px;
}

.mr20 {
	margin-right: 20px;
}

.mr30 {
	margin-right: 30px;
}

.mr40 {
	margin-right: 40px;
}

.mr50 {
	margin-right: 50px;
}

.mr60 {
	margin-right: 60px;
}

.dian {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.dianer {
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.diansan {
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}

.dianwu {
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 5;
	-webkit-box-orient: vertical;
}

.bgff {
	background: #fff !important;
}

.box {
	display: -webkit-box !important;
	display: -moz-box !important;
	display: -ms-box !important;
	display: -o-box !important;
	display: box !important;
}

.w100 {
	width: 100%;
}

.h100 {
	height: 100%;
}

.br0 {
	border: 0 !important;
}

.br {
	border: 1px solid #eaeaea !important;
}

.bglscf {
	background: #32cc00;
	color: #fff;
}

.box_a {
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-ms-box-flex: 1;
	-moz-o-flex: 1;
	box-flex: 1;
	display: block;
}

.fz17 {
	font-size: 17px;
}

.box_b {
	-webkit-box-flex: 2;
	-moz-box-flex: 2;
	-ms-box-flex: 2;
	-moz-o-flex: 2;
	box-flex: 2;
}

.box_c {
	-webkit-box-flex: 3;
	-moz-box-flex: 3;
	-ms-box-flex: 3;
	-moz-o-flex: 3;
	box-flex: 3;
}

.box_d {
	-webkit-box-flex: 4;
	-moz-box-flex: 4;
	-ms-box-flex: 4;
	-moz-o-flex: 4;
	box-flex: 4;
}

.ma {
	margin: auto;
}

.xz_po_a a {
	color: #575757;
}

.page input[type="button"] {
	min-height: 38px;
}

.yj4 {
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

.yj {
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
}

.yj30 {
	border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
}

.bkbs {
	border: 1px solid #d6d6db;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.yj20 {
	border-radius: 20px;
}

.pd {
	padding-left: 20rpx;
	padding-right: 20rpx;
}

.auo {
	margin: auto;
}

.mt140 {
	margin-top: 140px;
}

input {
	text-indent: 0upx !important;
}

.wd {
	width: 920px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	z-index: 10;
}

.wd1 {
	width: 1100px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	z-index: 10;
}

.mwd {
	min-width: 1100px;
}

.red {
	color: #ff8d03 !important
}

.wc {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	z-index: 10;
}

.footer a {
	margin-right: 10px;
	padding-left: 10px;
	color: #c6c7c8;
}

.footer {
	border: 0;
	min-width: 1200px;
	background: #2e3643;
	color: #c6c7c8;
	font-size: 14px;
}

.ov {
	overflow: hidden;
}

.footer a:hover {
	color: #f0ff00;
	border: 0;
}

em {
	font-size: 20px;
	margin-right: 6px;
	position: relative;
	top: 8px;
}

.tm5 {
	filter: alpha(opacity=50);
	opacity: 0.5;
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
}

.tr {
	text-align: right;
}

.tl {
	text-align: left;
}

.gun_title {
	padding-left: 25px;
}

.mt0 {
	margin-top: 0 !important;
}

.mt5 {
	margin-top: 5upx !important;
}

.mt10 {
	margin-top: 10upx !important;
}

.mt15 {
	margin-top: 15upx !important;
}

.mt20 {
	margin-top: 20upx !important;
}

.mt30 {
	margin-top: 30upx !important;
}

.mt40 {
	margin-top: 40upx !important;
}

.mt50 {
	margin-top: 50upx !important;
}

.mt60 {
	margin-top: 60upx !important;
}

.mt70 {
	margin-top: 70upx !important;
}

.mt80 {
	margin-top: 80upx !important;
}

.mt90 {
	margin-top: 90upx !important;
}

.mt100 {
	margin-top: 100upx !important;
}

.b {
	font-weight: 900;
}

.pr {
	position: relative;
	z-index: 10;
}

.pr20 {
	padding-right: 20upx;
}

.pr30 {
	padding-right: 30upx;
}

.pr10 {
	padding-right: 10upx;
}

.mt70 {
	margin-top: 140upx;
}

.mt80 {
	margin-top: 160upx;
}

.mt90 {
	margin-top: 180upx;
}

.mt100 {
	margin-top: 200upx;
}

.mt200 {
	margin-top: 400upx;
}

.mt180 {
	margin-top: 360upx;
}

.mt110 {
	margin-top: 220upx;
}

.mt120 {
	margin-top: 240upx;
}

.mt130 {
	margin-top: 260upx;
}

.ml10 {
	margin-left: 20upx;
}

.ml100 {
	margin-left: 100upx;
}

.ml5 {
	margin-left: 10upx;
}

.pr40 {
	padding-right: 80upx;
}

.bgred {
	background: #CC0001;
	color: #fff;
}

.cz {
	vertical-align: middle !important;
}

.c57 {
	color: #575757;
}

.ml20 {
	margin-left: 40upx;
}

.ml30 {
	margin-left: 60upx;
}

.ml40 {
	margin-left: 40upx;
}

.ml50 {
	margin-left: 50upx;
}

.ml60 {
	margin-left: 60upx;
}

.ml70 {
	margin-left: 70upx;
}

.ml80 {
	margin-left: 80upx;
}

.ml100 {
	margin-left: 100upx;
}

.ml90 {
	margin-left: 90upx;
}

.ml110 {
	margin-left: 110upx;
}

.ml120 {
	margin-left: 120upx;
}

.ptm {
	padding: 100px 0;
}

.pt10 {
	padding-top: 10upx;
}

.pt15 {
	padding-top: 30upx;
}

.bgye {
	background: #f5c813;
}

.pl4 {
	padding-left: 4upx;
}

.pr5 {
	padding-right: 5upx;
}

.mb10 {
	margin-bottom: 10upx;
}

.mb20 {
	margin-bottom: 20upx;
}

.mb30 {
	margin-bottom: 30upx;
}

.mb40 {
	margin-bottom: 40upx;
}

.mb50 {
	margin-bottom: 50upx;
}

.mb70 {
	margin-bottom: 70upx;
}

.mb80 {
	margin-bottom: 80upx;
}

.mb90 {
	margin-bottom: 90upx;
}

.mb100 {
	margin-bottom: 100upx;
}

.pl0 {
	padding-left: 0 !important;
}

.pl10 {
	padding-left: 10upx;
}

.pl20 {
	padding-left: 20upx;
}

.pl30 {
	padding-left: 30upx;
}

.pl40 {
	padding-left: 40upx;
}

.pl50 {
	padding-left: 50upx;
}

.pl60 {
	padding-left: 60upx;
}

.pl70 {
	padding-left: 70upx;
}

.pl80 {
	padding-left: 80upx;
}

.pl90 {
	padding-left: 90upx;
}

.pl100 {
	padding-left: 100upx;
}

.pt10 {
	padding-top: 10upx;
}

.pt5 {
	padding-top: 5upx;
}

.pm5 {
	padding-bottom: 5upx;
}

.pm15 {
	padding-bottom: 15upx;
}

.pt20 {
	padding-top: 20upx;
}

.pt30 {
	padding-top: 30upx;
}

.pt40 {
	padding-top: 40upx;
}

.pt50 {
	padding-top: 50upx;
}

.pt60 {
	padding-top: 60upx;
}

.pt70 {
	padding-top: 70upx;
}

.pt80 {
	padding-top: 80upx;
}

.pt90 {
	padding-top: 90upx;
}

.pt100 {
	padding-top: 100upx;
}

.pt110 {
	padding-top: 110upx;
}

.pt120 {
	padding-top: 120upx;
}

.pt130 {
	padding-top: 130upx;
}

.pt140 {
	padding-top: 140upx;
}

.pt150 {
	padding-top: 150upx;
}

.pt160 {
	padding-top: 160upx;
}

.pm10 {
	padding-bottom: 10upx;
}

.pm20 {
	padding-bottom: 20upx;
}

.pm30 {
	padding-bottom: 30upx;
}

.pm40 {
	padding-bottom: 40upx;
}

.pm50 {
	padding-bottom: 50upx;
}

.pm70 {
	padding-bottom: 70upx;
}

.pm60 {
	padding-bottom: 60upx;
}

.pm80 {
	padding-bottom: 80upx;
}

.pm90 {
	padding-bottom: 90upx;
}

.pm100 {
	padding-bottom: 100upx;
}

.pm110 {
	padding-bottom: 110upx;
}

.pm120 {
	padding-bottom: 120upx;
}

input,
textarea {
	text-indent: 10upx;
}

.show {
	display: block !important;
}

.cf {
	color: #fff !important;
}

.pr60 {
	padding-right: 60upx;
}

.bbm {
	border-bottom: 1px solid #eeeeee;
}

.z2a {
	color: #2a2a2a;
}

.btm {
	border-top: 1px solid #eeeeee;
}

.brm {
	border-right: 1px solid #eeeeee;
}

.blm {
	border-left: 1px solid #eeeeee;
}

.z6 {
	color: #666;
}

.z9 {
	color: #999;
}

.z0 {
	color: #000;
}

.zd {
	color: #555;
}

.gd {
	transition: all linear 5s;
}

.cen {
	text-align: center;
}

.cr {
	text-align: right;
}

.qc {
	clear: both;
}

.ls {
	color: #4DA994;
}



ul {
	list-style: none;
}

.bgls {
	background: #4cb5ab !important;
	border: 1px solid #4cb5ab !important;
	color: #fff;
}

.zc {
	color: #b2b2b2 !important;
}

.zb {
	color: #818181 !important;
}

.za {
	color: #231815 !important;
}



.bm {
	border-bottom: 3px solid #0b408c;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

.hs {
	color: #ed798e !important;
}






.cls_2 {
	width: 50%;
	float: left
}

.cls_3 {
	width: 33.3%;
	float: left
}

.cls_4 {
	width: 25%;
	float: left
}

.cls_5 {
	width: 20%;
	float: left
}




.cz_w {
	display: table !important;
}

.cz_a {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}


@font-face {
    font-family: "dx_ic";

  src: url('data:application/x-font-woff;charset=utf-8;base64,d09GRgABAAAAAA0cAAsAAAAAEyQAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAABHU1VCAAABCAAAADMAAABCsP6z7U9TLzIAAAE8AAAARAAAAFY8lktFY21hcAAAAYAAAADCAAACjtfVoQ9nbHlmAAACRAAACGsAAAtMURkaI2hlYWQAAAqwAAAALwAAADYS4PuSaGhlYQAACuAAAAAcAAAAJAfeA5BobXR4AAAK/AAAAA8AAAA8PAAAAGxvY2EAAAsMAAAAIAAAACAVbBg+bWF4cAAACywAAAAfAAAAIAEiAI5uYW1lAAALTAAAAUUAAAJtPlT+fXBvc3QAAAyUAAAAhQAAAKXT86xceJxjYGRgYOBikGPQYWB0cfMJYeBgYGGAAJAMY05meiJQDMoDyrGAaQ4gZoOIAgCKIwNPAHicY2BkYWCcwMDKwMHUyXSGgYGhH0IzvmYwYuRgYGBiYGVmwAoC0lxTGByeMbwMYm7438AQw9zIsAAozAiSAwDkogxZeJzlks0NglAQhAdB/ANCSLgQYgHEqx1wJ6ETe7IGYhkeiCWMoQqcZb2qBbjkI3nD473JzgJYAwjFSURA8EAAq7vUYNFD7Bc9wlXrI3IpGcGcBUtWrNnwzI4XDhyf7dTPM/Dr+5cKdMfnxxxncnRArJ0rudohwQZbuUr1c/z17P+oZHnf3qvM0nAsbebOoheOJczSUWfBylGPwdqxaWDjqO/g2bGpYecoC/DimAsOjvIBR0dJ4dk6NnlT7yB9AWkyTDgAAHicZVZpjNTmGf7e77M/j+2xPTOeGXt2Lma849l7l9k59iCw2XAUwtUs59LCtkQLioQKIYFwJECUUCCVGrUViqKIUqqAeqpBCFQJKEVU7Y8kTZtDjVqp/Eh/VEJKFH4EqYzp++2wFJWR5/0uv7af5z1JiJB7U+x39CbRiUPypEzmkmHyBHmSELkPyvOhkQPHBGaCghNc9gHzyp7iNQadsl+eyy1wEl5tsJKM835IDFbqtar36A7cu9KU5eaVq0JevXhbkm5fvCTkf4ru005xU8Fpp/hr/yS/0O+ulPKZTK5xJr+w3CXm2Wzjx/Ldqy3dq3fZdvnLSxdvyzI+4svmP8bHP//BVjms861s8vPS4m7YvyXl9u1/aE7wJyHOS+z3bCkiW0U2kW2EAOLzy1xBCIjOhCwM1vzGfFgA9Ua9UUk6SQchJ2dvmJGz94ir3hprfhk5Gax5NidKkjh10vAJe4g7ulaztXh6jmNocc3kTO4HmYW4ofB4jEeVsMFVJtNQ2MjxMGOSwgBvAAaMS+GYFlMVBRRmHJk3r+16EMgy0OvXgco0CP5w/pYs3zr/jpB0UNElBUBRuGEkDKMtIkm2rZrc4Ay3GVekMA+3J2J6jpsaV2NaIizzlCleqTPD0BwNddJxNRa8vIiulYPg+kNvu/umfOudmfegnOHyn+wnDEiNzCdLyGr0lWI/+NV6JY+0jAKaPFr1vUKRJ6LxJK7RFboF3VHkpICkRJFPT+HIEurgofPIhBJDm1LtNnXZUs24acZiZvOwYdvGlJhOddYB6p30cGv8cJ12JZ7JdKTTv5wd0umOTGaOOqW12eqyZWrMpEQoBkKmbaFLWrqBGNercBqERkca/m8UvsMR72GJsCM4r5HHyTj60BrEbBf6oFYV5u+GIhdAB5IJO56HHAwWKnU8KXC/H2roZbhs2DVkYK6IJNTDnaSjo0fFk+LO0uyETUw2U6rmWJYtL7aiUWsF3yGpRqlAJ8Sq+SvZ4lySZLrCH9DGYKBYlkyzeU73LXpTVuWR/kypNOT7zb9kfB/Hw2yip8advCbRaC4qqc0JSXMtJ5qNAvoQV6KxbHsRdvBcHwQrNAs2frI5JAdvBv+C0nAJL7g/EkAO/kbvMI/EMHL8MvjzwYGkAhzhN6BOX1VY8JuY1mXDnkIheD2WShoGrGPwosxgVXTAtILXioXg+zZXOmzcF7yKZ95jh+j7JIEL5AVpQRl3WpmmjnzRXw9NZjKTQxv20Mjo5b17L49G6B76PlR7eqpA92zoKb/y6cqVn75S7tmwhzBhJ3aJHSYR0kdGhVf6wj7CMfGZiTiHojcT6jgVRyLOH0lyeWhluVOaOdpQzLiyYNwM1lO68rVGY9RMmOMLVm5ftpFKbx88+LaEctsJxr47zaePM3bisKmvPjOixE1l7MKkbsIlGGmMnFmtm6Y+eWFs5ZzSifUHzzJ2FlVpgh3fPn1cAun4tu3HhY8Rwj6mAVGJTbLoZ0vI15EV4VfCLzx51kP6QUixPyiyjPI/BL43wx73ZKfcYnMWmcJa2rgFip1O+2kMgm9aiUQukbCevb9xIDeUe66wYBFIl7/34m9Tkci+U0yzIvDv1Ca3ksIFO7Vv908leHxwyYwmxC16QGj66TuQyCbwgrda6+DnoPGRp7t3LkI1emSash/tbC/Q5yYqXAN2bHr6GEM59C0fk8J9TYSvoP3+jnFWIiESJfPIBNlB9hKMOhBfLhCX++4TAtU+Wq7d95eko/DkAkATY7ERgFE6yUqj3o+mVHge07xXRKt7DxhJ8lK97Nce0MMdjyNf/VC0oCTegP5X9RsPZnA7kQK3q1A4PyO7UvSj7qe2DWfeO/HWB9KihXkW054304MZJRtqPz2dGmyblHRZZc7w/NMqM+oYrtQZcHedZOzkru+cZDDUnMO0Q9KFY3vOtx06xyBELautz7U5Xw03rGTSSrjuL5BkMdL2VGfK7Ur1JVJut+sGf61sXt4rs2dfp+z80cUHKt8IW/IIk0OMPfVtZH2ASaHwk33PHFD07iwDrtFDW7a8xNihzf2bDoRDGw/ufoPRfVv4D3dksoD1QpZoxzUnmwRwMkmYnaAXknvn2Hq2kVjYFcwhPaSXDGFnsJQsI6R0P4fNpnNPpDqMKkz2TgErYlRkxmodkyBmciVaKPpikQPugSgERf8xPBVlwUmwdTDSHVR7hgGGe+Dd7hEYTcWCqu2mYvBuLJVtnuGhEKebhZydh1Q1FHxl6YpuCWGC2TMCMNJDP2uNtgvg2s1Ma6SfNZ+HUFhVwyGgq9SwCqbV3N1SFaKVh86yj9la0fWAcDEFsxG608wnClCiiYkWZmqZgCfCD8FyxYvOIkffqkWREq+OybCCmRGDtEw3WKXOUjh4NSkzFo/XVRMq/Vt1A6ihb+2tYp1OO8vdWPCV7S532qAjV2ESvBDpteCFUMxSWN2MRs1gX6rAVdPQgw87xyGswzPBST0M453Qqxti120HWB8TWGPBz6Ddhd5sJ2DRP2qawf6QFQvN9j932DUWQmt62OV1I1L8cCWK5iskvJl0MlOzuqGGJmwgFsAmrlSoFUqInB27+4WbB8i74K4JRyJhOCbkGnBndoM3du6E1Xe/YBHxZyG8r/kBngxF3AheQ7imA26+2TmEP7gWjAnOMd9RRkU9KRSxnlSROHQRRcXyqXD6kWkEGyIROGt5jmQGr8BLpqSbGqw1ugyY0KWMFw7+HLwX9szobC25hvjGiI/+WcMs6WPD1hBRXcYmrV90H630mIgR2UkOIkZse+0/Gq4SZxJ/+UajV1flNVJE15+YpGwYdoEm2fGFkzAFcXWtrGg5SVIf+9OhFHfCN1QdYN2YaWIXFhz9Gsh03Rj5L/6y+TgAeJxjYGRgYABiI4HLe+P5bb4ycLMwgMD1B7dvIej/CSwMzI1ALgcDE0gUAFayDEwAeJxjYGRgYG7438AQw8IAAkCSkQEV8AMARxUCeHicY2FgYGAhEwMAB7wAPQAAAAAAAHQBGgGSAhQCPgJmAsQDRgQMBIIE9AU8BWQFpnicY2BkYGDgZ2hi4GQAASYg5gJCBob/YD4DABdgAbEAeJxlj01OwzAQhV/6B6QSqqhgh+QFYgEo/RGrblhUavdddN+mTpsqiSPHrdQDcB6OwAk4AtyAO/BIJ5s2lsffvHljTwDc4Acejt8t95E9XDI7cg0XuBeuU38QbpBfhJto41W4Rf1N2MczpsJtdGF5g9e4YvaEd2EPHXwI13CNT+E69S/hBvlbuIk7/Aq30PHqwj7mXle4jUcv9sdWL5xeqeVBxaHJIpM5v4KZXu+Sha3S6pxrW8QmU4OgX0lTnWlb3VPs10PnIhVZk6oJqzpJjMqt2erQBRvn8lGvF4kehCblWGP+tsYCjnEFhSUOjDFCGGSIyujoO1Vm9K+xQ8Jee1Y9zed0WxTU/3OFAQL0z1xTurLSeTpPgT1fG1J1dCtuy56UNJFezUkSskJe1rZUQuoBNmVXjhF6XNGJPyhnSP8ACVpuyAAAAHicbcpLDoIwFEbh/kDLS8WNkPhgB27ALTSk0ktIi5QbhNUbw9RvciZHRGJXiP8qRIiRQEIhRYYcBUoccMQJFc4i1uNYUutdMPPl2tzVQLxql3WeF26tSameqLOz/D1NwsFM+VYvhj7kbmqvCtZzT3KzvJro+UgG85qzngJr9yYhvgx/IrcAAAA=') format('woff')
  
}
.dx_ic { 
    font-family: "dx_ic" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-app:before { content: "\e61c"; }

.icon-iconset0143:before { content: "\e62a"; }

.icon-liuyan:before { content: "\e744"; }

.icon-gouwuche:before { content: "\e635"; }

.icon-i-right:before { content: "\e600"; }

.icon-icon4:before { content: "\e61a"; }

.icon-user:before { content: "\e6b6"; }

.icon-z-weixin2:before { content: "\e6d4"; }

.icon-weixin:before { content: "\e64f"; }

.icon-shouji:before { content: "\e612"; }

.icon-zhuye:before { content: "\e615"; }

.icon-PC:before { content: "\e671"; }

.icon-left:before { content: "\e952"; }

.icon-jisuanqi:before { content: "\e610"; }
